.jd-section ul li {
  display: flex;
  align-items: flex-start;
}

.jd-number {
  margin-right: 1.5em;
}

.jd-section ul li strong {
  white-space: nowrap;
}

.jd-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -0.5em;
  font-size: 90%;
}

.jd-section {
  flex: 1 1 30%;
  box-sizing: border-box;
  padding: 1em;
  margin: 0.2em;
  background-color: #f9f9f9;
}

.jd-section h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  border-bottom: 2px solid #000;
  padding-bottom: 0.2em;
}

.jd-section ul {
  list-style: none;
  padding-left: 0;
}

.jd-section li {
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border-left: 4px solid #ccc;
  transition: background-color 0.3s, border-left-color 0.3s;
}

.jd-section li:hover {
  background-color: #f1f1f1;
  border-left-color: #000;
}

.jd-number {
  display: inline-block;
  width: 4em;
  min-width: 3em;
  background-color: #ccc;
  color: #000;
  font-weight: bold;
  text-align: center;
  margin-right: 1em;
  padding: 0.2em 0;
  border-radius: 4px;
}

.jd-section p {
  margin-top: 0.5em;
  line-height: 1.6;
}

@media screen and (max-width: 1000px) {
  .jd-section {
    flex: 1 1 100%;
    margin: 0.5em 0;
  }
}

body {
  font-family: "Roboto Mono", monospace;
  padding: 1rem 1.5rem;
  font-size: 100%;
}

h2 {
  font-size: 1.1em;
  font-weight: 600;
}

.skills-experience {
  margin-top: 2em;
}

.skills-experience h2 {
  margin-bottom: 1em;
}

.h2-normal {
  font-weight: 450;
}

.columns {
  display: flex;
  margin-right: -0.4rem;
  margin-left: -0.4rem;
}

.column {
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  box-sizing: border-box; /* Ensure padding doesn't affect width */
}

@media screen and (min-width: 30em) {
  .column {
    flex: 0 0 50%;
    max-width: 100%;
  }
}

@media screen and (max-width: 29.99em) {
  .column {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 30em) {
  .column {
    flex-basis: 100%;
  }
}

.navbar .navbar-section {
  display: flex;
  align-items: center;
  flex: 1 0 0;
}

.navbar .navbar-section:not(:first-child):last-child {
  justify-content: flex-start;
}

header.container {
  max-width: inherit;
  border-bottom: 1px solid #000;
}

.container {
  max-width: 800px;
  margin: 0;
}

.inline-block {
  display: inline-block;
  margin-right: 0.5em;
}

.measure-6 {
  width: 6em;
  max-width: 6em;
}

.measure-12 {
  width: 12em;
  max-width: 12em;
}

.measure-60 {
  width: 60em;
  max-width: 60em;
}

@media screen and (max-width: 30em) {
  .responsive-24-phone {
    font-size: small;
    min-width: 24em;
    max-width: 100%;
  }

  .measure-8-phone {
    width: 8em;
    max-width: 8em;
  }

  .hide-phone {
    display: none;
  }

  body {
    padding: 1em 0.4em;
    font-size: 13px;
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .measure-36-tablet {
    width: 36em;
    max-width: 36em;
  }
}

.top-4 {
  margin-top: 4em;
}

.bottom-1 {
  margin-bottom: 1em;
}

.bottom-6 {
  margin-bottom: 6em;
}

.flex-measure-36 {
  flex: 0 0 36em;
}

.flex-measure-60 {
  flex: 0 0 60em;
}

.social-media-icon {
  width: 0.875em;
}

footer {
  margin-top: 4rem;
  color: #ccc;
  clear: both;
}

@media print {
  header,
  footer,
  .btn {
    display: none;
  }
}

.ba {
  border-style: solid;
  border-width: 1px;
}

.b--black {
  border-color: #000;
}

.black {
  color: #000;
}

.moon-gray {
  color: #ccc;
}

.white {
  color: #fff;
}

.bg-light-gray {
  background-color: #eee;
}

.bg-dark-green {
  background-color: #137752;
}

.hover-white:hover,
.hover-white:focus {
  color: #fff;
}

.hover-bg-black:hover,
.hover-bg-black:focus {
  background-color: #000;
}
